root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.{c,h,hh}]
indent_style = tab
tab_width = 4

[Makefile]
indent_style = tab
tab_width = 8
trim_trailing_whitespace = false

[*.md]
trim_trailing_whitespace = false
